body {
    background-color: rgb(214, 232, 238); /*achtergrond kleur*/

p {
font-size: 19px;
}

}
ul {
    list-style-type: none; /*geen puntjes voor het menu*/
    margin: 0; /*haalt de standaard ruimte tussen element en andere elementen weg*/
    padding: 0; /*haalt standaard ruimte binnen element (menu) weg*/
    overflow: hidden; /*zorgt dat het binnen het venster blijft*/
    background-color: rgb(162, 211, 228); 
    width: 100%; /*breedte van menu*/
}
ul li {
    float: left; /*zorgt voor horizontaal menu aan de linkerkant*/
    
    
}
ul li a {
    display: block; /*maakt de link van de pagina in een blok in het menu*/
    color: black; /*tekstkleur*/
    text-align: left; /*tekst aan de linkerkant van het blok*/
    padding: 14px 16px;
    text-decoration: none; /*verwijderd de streep onder de link*/
}
ul li a:hover { 
    background-color: rgb(117, 194, 220); /*als je over het menu gaat krijgt die een 
    andere kleur namelijk een donkerdere blauw*/
}
ul li a.active {
    background-color: rgb(117, 194, 220); /*op de pagina waar je bent is het blokje in het 
    menu een andere kleur dan de rest van het menu namelijk die van de hover*/
} 
footer { /*naam onderaan pagina*/
    padding: 0;
    margin: 0;
    text-align: right;
    bottom: 0; /*footer onderaan de pagina*/
    position: fixed; /*footer staat vast*/
    width: 98%;
}

.overmij {
    background-color: lightblue;
    width: 60%;
    padding: 50px;
    display: block;
    margin: auto;
    text-align: left;
    border-radius: 15px;
}

.h1 {
    margin-left: 0;
    text-align: center;
}

.Welkom {
    background-color: lightblue;
    width: 60%;
    padding: 50px;
    display: block;
    margin: auto;
    text-align: left;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 10px;
    max-width: 3000px;
    margin: 0 auto;
}


.left-collumn, {
    flex: 1;
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
    
    
}

.rightcollumn {
    flex: 1;
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
    
}


.hoi {
    word-spacing: 2.2cm;
}

.hoi2 {
    word-spacing: 0.5cm;
}

