body {
    background-color: rgb(214, 232, 238); /*achtergrond kleur*/
}

p {
    font-size: 18px;
}

.h1 {
    margin-left: 0;
    text-align: center;
}

ul {
    list-style-type: none; /*geen puntjes voor het menu*/
    margin: 0; /*haalt de standaard ruimte tussen element en andere elementen weg*/
    padding: 0; /*haalt standaard ruimte binnen element (menu) weg*/
    overflow: hidden; /*zorgt dat het binnen het venster blijft*/
    background-color: rgb(162, 211, 228); 
    width: 100%; /*breedte van menu*/
}

ul li {
    float: left; /*zorgt voor horizontaal menu aan de linkerkant*/
}

ul li a {
    display: block; /*maakt de link van de pagina in een blok in het menu*/
    color: black; /*tekstkleur*/
    text-align: left; /*tekst aan de linkerkant van het blok*/
    padding: 14px 16px;
    text-decoration: none; /*verwijderd de streep onder de link*/
}
ul li a:hover { 
    background-color: rgb(117, 194, 220); /*als je over het menu gaat krijgt die een 
    andere kleur namelijk een donkerdere blauw*/
}
ul li a.active {
    background-color: rgb(117, 194, 220); /*op de pagina waar je bent is het blokje in het 
    menu een andere kleur dan de rest van het menu namelijk die van de hover*/
} 

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 10px;
    max-width: 3000px;
    margin: 0 auto;
}

.right-collumn {
    background-color: lightblue;
    width: 45%;
    padding: 50px;
    display: block;
    margin: auto;
    text-align: left;
    border-radius: 15px;
}

.hoi {
    word-spacing: 2.2cm;
}

.hoi2 {
    word-spacing: 0.5cm;
}

.pagina {
    background-color: lightblue;
    width: 60%;
    padding: 50px;
    display: block;
    margin: auto;
    text-align: left;
    border-radius: 15px;
}

.footer {
    text-align: right;
}